
body {
    background: #e4e4e4;
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 300;
    padding-top: 70px;
    overflow-x: hidden;
}

/*---------------------------------------
    TYPOGRAPHY
-----------------------------------------*/

h1,h2,h3,h4,h5,h6,
.navbar-default, .btn {
    font-family: 'Varela Round';
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
    color: #ffffff;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
h2 {
  color: #f0f0f0;
  font-size: 20px;
}
h3 {
    color: #626277;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 4px;
}

h4 {
  font-weight: bold;
}
p {
    color: #999;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
hr {
  border-bottom-color: #999;
  width: 100px;
}
.section-btn {
  background-color: #000;
  border: 2px solid transparent;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 26px;
  transition: all 0.4s ease-in-out;
}
.section-btn:hover {
  background: transparent;
  border-top-color: #ffffff;
  border-right-color: #222;
  border-bottom-color: #ffffff;
  border-left-color: #222;
  color: #ffffff;
}

/*---------------------------------------
    GENERAL / COMMON
-----------------------------------------*/
html{
  -webkit-font-smoothing: antialiased;
}
a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
    outline: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff;
}
.section-title {
    margin-top: 6%;
}
#about,
#projects,
#about,
#pricing,
#newsletter {
  padding-top: 110px;
  padding-bottom: 110px;
}
#about,
#pricing {
  text-align: center;
}

/*---------------------------------------
    THE NAVIGATION SECTION
-----------------------------------------*/
.navbar-default {
    background: #121d39;
    border: none;
    box-shadow: none;
    margin: 0 !important;
    height: 98px;
}
.navbar-default .navbar-brand {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 50px;
}
.navbar > .container .navbar-brand {
    margin-left: -10%;
}
.navbar-default .navbar-brand span {
  color: #1dc9e3;
}
/*.nav>li {*/
/*    position: inherit;*/
/*    display: block;*/
/*}*/

.nav li{
    padding-top: 12px
}
/*.nav li .search_container{*/
/*    padding-top: -12px;*/
/*}*/

.navbar-default .navbar-nav li a {
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-default .navbar-nav li a:hover{
    color: white;
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
    background-color: #121d39;
    color: white;
}
.navbar-default .navbar-nav li a.smoothScroll::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}
.navbar-default .navbar-nav li a.smoothScroll:hover::after{
    width: 100%;
    transition: width .3s;

}

.navbar-default .container .navbar-collapse ul{
    margin-right: -10%;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

/*---------------------------------------
    THE DROP DOWN MENU
-----------------------------------------*/
.dropdown-menu{
    background: #121d39;
}
.dropdown-menu>li>a:hover{
    background: #121d39;
}

/*=======================================
    THE SEARCH BAR
=========================================*/
* {
    box-sizing: border-box;
}

.search_container {
    /*position: absolute;*/
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}
.search_container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
/*.search_container .search:hover {*/
/*    cursor: pointer;*/
/*}*/
.search_container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 10px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}
.search_container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 1px;
    right: 0;
    bottom: 0;
    left: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}

.search_container input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 25%;
    right: 3%;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 40px;
    outline: none;
    border: none;
    background: white;
    color: black;
    text-shadow: 0 0 10px white;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    /*box-shadow: 0 0 25px 0 white, 0 20px 25px 0 rgba(0, 0, 0, 0.2);*/
    transition: all 1s;
    opacity: 0.9;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
.search_container input:hover {
    cursor: pointer;
}
.search_container input:focus {
    width: 45%;
    opacity: 1;
    cursor: text;
}
.search_container input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
}
.search_container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}
.search_container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.search_container input::placeholder {
    color: black;
    opacity: 0.5;
    font-weight: bolder;
}


/*---------------------------------------
   THE HOME SECTION
-----------------------------------------*/
#home {
    background: rgba(50, 196, 58, 0.38) url('../images/dinner.jpeg');
    background-size: cover;
    width: 100%;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60vh;
    position: relative;
}
#home .overlay {
  background: rgba(32, 40, 96, 0.75);
  background: -webkit-linear-gradient(to left, rgba(32, 40, 96, 0.75), rgba(32, 40, 96, 0.75));
  background: linear-gradient(to left, rgba(32, 40, 96, 0.75), rgba(32, 40, 96, 0.75));
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0;
  right: 0;
}
#home img {
  width: 70%;
  height: auto;
}


/*---------------------------------------
   HOME - Detail SECTION
-----------------------------------------*/
#home-detail{
    background: rgba(212, 18, 7, 0.38) url('../images/kitfo.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60vh;
    position: relative;
}

#home-detail .overlay {
    background: rgba(32, 40, 96, 0.79); /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(32, 40, 96, 0.79), rgba(32, 40, 96, 0.79)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(32, 40, 96, 0.79), rgba(32, 40, 96, 0.79)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 60vh;
    top: 0;
    left: 0;
    right: 0;
}
#home-detail img {
    width: 95%;
    height: auto;
}
#home-detail .home-thumb {
    /* padding-top: 200px; */
    padding-left: 15%;
}
#home-detail p{
    color: #f0f0f0;
    letter-spacing: 1px;
}


/*---------------------------------------
   HOME - MEAT
-----------------------------------------*/
#home-meat {
    /*background: rgba(212, 18, 7, 0.38) url('../images/meat1.jpeg') no-repeat;*/
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60vh;
    position: relative;
}

#home-meat .overlay {
    background: rgba(32, 40, 96, 0.79); /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(32, 40, 96, 0.79), rgba(32, 40, 96, 0.79)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(32, 40, 96, 0.79), rgba(32, 40, 96, 0.79)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 60vh;
    top: 0;
    left: 0;
    right: 0;
}
#home-meat img {
    width: 95%;
    height: auto;
}
#home-meat .home-thumb {
    /* padding-top: 200px; */
    padding-left: 15%;
}
#home-meat p{
    color: #f0f0f0;
    letter-spacing: 1px;
}

/*---------------------------------------
    THE FOODS SECTION
-----------------------------------------*/
.foods{
    background: #e4e4e4;
    margin-top: 5%;
}
.each-food {
    margin: 0 auto;
}
.food-item {
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    background: white;

}
.acting .food-item{
    background: #e4e4e4;
}

.food-item .food-img {
    overflow: hidden;
}
.food-item .food-img a {
    display: block;
}
.food-item .food-img img {
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}
.food-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.food-item .food-content {
    border: 1px solid #ebebeb;
    border-top: 0px;
    padding: 30px 35px;
}

.food-item .food-content h4 {
    font-size: 18px;
    color: #232d37;
    font-family: 'Varela Round';
    font-weight: 500;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}
.food-item .food-content h4:hover {
    color: #2bc0a4;
}
.food-item .food-content p {
    font-size: 14px;
    line-height: 26px;
    color: #626277;
    font-family: 'Varela Round';
    font-weight: 400;
    padding: 15px 0px 10px 0px;
}
.food-item:hover {
    -webkit-box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
    box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
}
/* to remove the hover effect for the images of the trainings. */
.acting .food-item:hover{
    -webkit-box-shadow: 0px 0px 0px 0px rgba(58, 74, 88, 0.1);
    box-shadow: 0px 0px 0px 0px rgba(58, 74, 88, 0.1);
}
.second-food-row{
    margin-top: 80px;
    margin-bottom: 40px;
}


/*---------------------------------------
   THE FOOTER
-----------------------------------------*/

footer {
    background: #121d39;
    padding-top: 60px;
    padding-bottom: 60px;
}
footer span {
  padding-right: 10px;
  padding-left: 10px;
}
/*---------------------------------------
   THE SOCIAL ICONS
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}
.social-icon li {
    display: inline-block;
    list-style: none;
}
.social-icon li a {
    color: white;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 0px;
    margin: 10px 4px 0px 4px;
}
.social-icon li a:hover {
    background: #1dc9e3;
    color: white;
    top: -5px;
}
/*---------------------------------------
   MOBILE RESPONSIVE
-----------------------------------------*/
@media (max-width: 1200px) {
  .container {
	width: 100%;
  }
}
@media (max-width: 980px) {

  h1 {
    font-size: 38px;
  }

  .section-btn {
    padding: 10px 34px 12px;
  }

  #home, #home .overlay {
    height: 60vh;
  }

  #home .home-thumb {
    padding-top: 0px;
  }

  #about {
    text-align: center;
  }

  #about .about-thumb {
    margin-top: 62px;
  }

}
@media (max-width: 768px) {

  h1 {
    font-size: 28px;
  }

  .section-title {
    padding-bottom: 32px;
  }

  #about, #about,
  #projects,
  #pricing, #newsletter {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}
@media (max-width: 767px) {

   body {
    padding-top: 0px;
    text-align: center;
  }

  .navbar-default {
    text-align: center;
    padding-top: 0px;
  }

  .navbar-default .navbar-brand {
    line-height: 20px;
  }

  .navbar-default .navbar-nav li a {
    line-height: 25px;
  }

  #home, #home .overlay {
    height: 100vh;
  }

  #home img {
    position: relative;
    display: inline-block;
  }

  #home .home-thumb {
    padding-top: 32px;
    padding-left: 0px;
  }

  #pricing .pricing-plan {
    margin-bottom: 62px;
  }

}
@media (max-width: 650px) {

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

}




/* =========================================
* Responsiveness
============================================== */
/* FOR 320 - 519 */
@media screen and (min-width: 320px) and (max-width: 519px){
    .navbar > .container .navbar-brand {
        margin-left: 0.1%;
    }

}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .input-code{
        margin-left: 20%;
    }
    .input-code input{
        width: 125%;
    }
}
@media screen and (min-width: 481px) {
    .input-code{
        margin-left: 0;
    }
}

/* FOR 320 - 767 === For all Mobile and Tablet sizes */
@media screen and (min-width: 320px) and (max-width: 767px){

    .navbar-default{
        height: auto;
    }

    .navbar > .container .navbar-brand{
        margin-top: -10px;
    }

    .navbar-brand img{
        width: 90px;
        height: 50px;
    }

    .search_container{
        top: -320px;
    }
    .search_container input{
        height: 35px;
    }

}

/* FOR 520 - 767 */
@media screen and (min-width: 520px) and (max-width: 767px){
    .navbar > .container .navbar-brand {
        margin-left: 5%;
    }

}

/*FOR 768 - 999*/
@media screen and (min-width: 768px) and (max-width: 999px){
    .navbar > .container .navbar-brand {
        margin-left: -2%;
    }


    .search_container {
        left: -25%;
        width: 100px;
    }

    .search_container input:focus {
        width: 200px;
    }

    .navbar-default .container .navbar-collapse ul{
        margin-right: 5%;
    }
    .navbar-default .navbar-nav li a{
        font-size: 12px;
    }
}

/*FOR 1000 - 1320*/
@media screen and (min-width: 1000px) and (max-width: 1320px){
    .navbar-default .container .navbar-collapse ul{
        margin-right: 0;
    }

    .search_container{
        left: -17%;
    }
}
@media screen and (min-width: 1321px){
    .navbar-default .container .navbar-collapse ul{
        margin-right: -5%;
    }
}
@media screen and (min-width: 1450px){
    .navbar-default .container .navbar-collapse ul{
        margin-right: -10%;
    }
}







